.footer-container{
    background: #f2f2f2;
    box-sizing: border-box;
     height: 80px; 

}
.location-div{
  box-sizing: border-box;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    height: 35px;
    background: #f2f2f2;
    padding: 7px 30px;
    font-size: 11px;
}

.buttom-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 40px;
}
.google-leave{
    width: 10px;
    height: 12px;
    margin-right: 6px;
}
.footerText-div{
    display: flex;
    align-items: center;
    font-size: 11px;
    font-family: arial,sans-serif;
    cursor: pointer;
    padding: 7px;
    color: #70757a;

}
.left-footer,.right-footer{
    display: flex;
    align-items: center;
    gap: 13px;
}